.project-carousel {
	position: relative;
	height: 250px;
	width: 80%;
	margin:  0 auto;
}

.project-carousel__info {
	width:100%;
	height: 100%;
	object-fit: cover;
	padding: 30px;
}

.project-carousel__track-container {
	height: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;
}

.project-carousel__track {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 250ms ease-in;
}

.project-carousel__slide {
	position: absolute;
	width: 100%;
}

.project-carousel__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	background: transparent;
	border: 0;
	cursor: pointer;
}

.project-carousel__button--left {
	left: -40px;
}

.project-carousel__button--right {
	right: -40px;
}

.project-carousel__nav {
	display: flex;
	justify-content: center;
	padding: 20px 0;

}

.project-carousel__indicator {
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: #4C4C4C;
	margin: 0 12px;
	cursor: pointer;
}

.project-carousel__indicator.current-slide {
	background: rgba(255, 255, 255, 1);
}

.is-Hidden{
	display: none;
}
